You can access the notebook via <A Href="https://colab.research.google.com/drive/1lhTQj2yp4ILf4TIXOghZmN6ZS39WgRZF?authuser=1">Colab.</A>
## Homework #1
+ Pre-requisite: You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can use the instructions from <A Href="https://github.com/DataTalksClub/machine-learning-zoomcamp/blob/master/01-intro/06-environment.md">06-environment.md.</A>

In [1]:
import numpy as np
import pandas as pd
print("Imports Successfull!")

Imports Successfull!

### Q1. Pandas version
What's the version of pandas that you installed?

You can get the version information using the __version__ field:

In [2]:
print(f"The version of pandas that I installed is {pd.__version__}")

The version of pandas that I installed is 2.2.2

+ The version of installed pandas is **2.2.2**

### Getting the data

For this homework, we'll use the Laptops Price dataset. Download it <A Href="https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv">here</A>.

You can do it with wget:

wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [3]:
data = pd.read_csv(r"C:\Users\user\Machine_Learning_ZoomCamp\Introduction to Machine Learning\data\laptops.csv")
data.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

### Q2. Record Counts
+ Download data <A Href="https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv">here.</A>

How many records are in the dataset?
+ 12
+ 1000
+ 2160
+ 12160

There are 2160 records.

In [4]:
print(f"The dataset has {data.shape[0]} records")

The dataset has 2160 records

### Q3. Laptop Brands
How many laptop brands are present in the dataset?
+ 12
+ 27
+ 28
+ 2160

There are 27 laptop brands.

In [5]:
laptop_brands = data['Brand'].nunique()
print(f"There are {laptop_brands} laptop brands.")

There are 27 laptop brands.

### Q4. Missing values
How many columns in the dataset have missing values?

+ 0
+ 1
+ 2
+ 3

In [6]:
number_col_missing = data.isnull().sum()
number_col_missing

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

**3** columns that is **Storage type**, **GPU**, and **Screen** have missing values.

### Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

+ 869
+ 3691
+ 3849
+ 3936

In [7]:
dell_notebooks = data[data['Brand'] == 'Dell']
maximum_price = dell_notebooks['Final Price'].max()
print(maximum_price)

3936.0

### Q6. Median value of Screen
1. Find the median value of Screen column in the dataset.
2. Next, calculate the most frequent value of the same Screen column.
3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
4. Now, calculate the median value of Screen once again.
   
Has it changed?
+ **No**

In [8]:
data.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [9]:
# Median value of Screen column
data = data.copy()
med_value_screen = data['Screen'].median()
most_frequent_value_screen = data['Screen'].mode()

print(f"The median value of Screen size is {med_value_screen}.")
print(f"The most frequent value of Screen size is {most_frequent_value_screen}.")
data.fillna({"Screen": 0}, inplace=True)
data.isnull().sum()
print(f"After filling missing values with zero in screen column, the median screen size is now {data['Screen'].median()}\n")
print(f"The median value has not changed")

The median value of Screen size is 15.6.
The most frequent value of Screen size is 0    15.6
Name: Screen, dtype: float64.
After filling missing values with zero in screen column, the median screen size is now 15.6

The median value has not changed

### Q7. Sum of weights
1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns RAM, Storage, Screen.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the sum of all the elements of the result?

In [10]:
# Selecting all the "Innjoo" laptops from the dataset
innjoo_laptops = data[data['Brand'] == 'Innjoo']
innjoo_laptops

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [11]:
# Selecting only columns RAM, Storage, Screen.
innjoo_laptops = innjoo_laptops[['RAM', 'Storage', 'Screen']]
innjoo_laptops

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [12]:
# Getting the underlying NumPy array. Let's call it X.
X = innjoo_laptops.values
# Computing matrix-matrix multiplication
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [13]:
# Creating an array y
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [14]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w
# What's the sum of all the elements of the result?
w = (XTX_inv @ X.T) @ y
total = w.sum()
total

91.29988062995815

**Note**: You just implemented linear regression.
$$ w = \left( X^T X \right)^{-1} X^T y $$

We'll talk about it in the next lesson.